body{
    background-color: #f2f2f2;
    font-family:SF Pro SC,SF Pro Text, SF Pro Icons,PingFang SC, Helvetica Neue, Helvetica,Arial,sans-serif; 
 }
 
 #header{
     top:0px;
     width:100%;
     height: 700px;
     background-image:url("./library1.png");
     background-repeat: none;
     margin-bottom: 20px;
 }
 .lib{
     right:0px;
     left:0px;
     height: 670px;
     background-image:url('./library1.png');
     background-repeat: no-repeat; 
     background-size:100%
 }
 .cont{
     width:100%; 
     max-width: 100%;
     margin:auto;
     height: 30%;
     margin-top: 55px;
     margin-bottom: 55px;
     font-weight: 600;
     color: #1d1d1f;
     font-size: 40px;
     text-align: center;
     justify-content: center;
     font-family: "SF Pro KR","SF Pro Display","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
 }
 h1{
     padding-top:580px;
     padding-left:50px;
     color:white;
     font-size: 40px;
     font-weight: bold;  
     font-family: "SF Pro KR","SF Pro Display","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
     
 }
 #card-content{
     height: 300px;
     width: 80%;
     margin: auto;
 
 }
 
 .pic{
     border-radius:9px;
     margin-left: 10%;
     right:0px;
     left:0px;
     height: 400px;
     width: 450px;
     display:inline-block;
     vertical-align: top;
     background-image:url('./sdij develop/library1.png');
     background-repeat: no-repeat; 
     background-size:100%;
 }
 
 .card_content{
     margin-top:10px;
     background-color: #f2f2f2;    
     padding-top: 20px;
 }
 
 .two{
     vertical-align: top; 
     height:400px;
     width: 1000px;
     display:inline-block;
     background-color: white;
     border-radius:9px;
     
 }
 .first{
     margin-left: 10%;
     right:0px;
     left:0px;
     height: 400px;
     width: 450px;
     display:inline-block;
     height:400px;
     width: 1000px;
     display:inline-block;
     background-color: white;
     border-radius:9px;
 }
 .pic1{
     vertical-align: top; 
     height:400px;
     width: 450px;
     display:inline-block;
     border-radius:9px;
 }
 h2{
 
     margin-top: 20px;
     margin-left: 20px;
     color:#6E6E73;
     font-size: 35px;
     font-weight: bold;
     font-family: SF Pro SC,SF Pro Text, SF Pro Icons,PingFang SC, Helvetica Neue, Helvetica,Arial,sans-serif;
 }
 
 h3{
     margin-left:20px;
     color: black;
     font-family: SF Pro SC,SF Pro Text, SF Pro Icons,PingFang SC, Helvetica Neue, Helvetica,Arial,sans-serif;
     font-size:20px;
     margin-top: 75px;
     line-height: 45px;
     
 
 }
 
 h4{
     margin-left: 22px;
     margin-top: 50px;
 }
 
 .ca{
     display:inline-block;
     vertical-align: top;
     margin-left: 17%;
 }
 .car{
     display:inline-block;
     vertical-align: top;
     margin-right: 100px;
 }
 
 .pic2{
     width: 600px;
     height: 600px;
     border-radius:9px;
     margin-bottom:0px;
 }
 
 .pa{
     border-radius:9px;
     background-color: white;
     width:600px;
     margin-top:0px;
    
 }
 .pa p{
     margin-top:0px;
     font-family:SF Pro SC,SF Pro Text, SF Pro Icons,PingFang SC, Helvetica Neue, Helvetica,Arial,sans-serif;
     line-height: 170%;
     font-size: 17.5px;
     padding-top: 2.5%;
     padding-left: 2.5%;
 }