.s0 {
  background-color: blue;
}
#fp-nav ul li a span {
  background-color: #fff;
}
.s1 {
  background-color: #e5f6fe;
}
.tit {
  color: black;
  font-size: 30px;
}
.num {
  color: blue;
}
.box {
  position: absolute;
  width: 20%;
  height: 35%;
  border-radius: 5%;
  border: 2px;
  border: outset black;
}
#first {
  top: 10%;
  left: 10%;
}
#second {
  top: 10%;
  left: 40%;
}
#third {
  top: 10%;
  left: 70%;
}
#fourth {
  top: 50%;
  left: 10%;
}
#fifth {
  top: 50%;
  left: 40%;
}

#sixth {
  top: 50%;
  left: 70%;
}

#section4 {
  background-color: rgb(152, 186, 224);
}
.s2 {
  background-color: #bcdef4;
}
.s3 {
  background-color: #98bae0;
}
